.Item {
    display: flex;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
}

.Item-image {
  height: 100px;
  width: 100px;
  background-size: cover;
}

.Item-image:hover {
  height: 200px;
  width: 200px;
}